<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ms-express</title>

        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <!-- Google Cairo Font -->
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600&display=swap" rel="stylesheet" />
        <!-- Bootstrap Grid Css -->
        <link rel="stylesheet" href="assets/css/bootstrap-grid.min.css" />
        <!-- Remix Icon -->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
        <!-- Theme Style -->
        <link rel="stylesheet" href="assets/css/style.css" />
    </head>
    <body class="login-index layout-wrapper">
        <section class="section home-section">
            <div class="elementor-box">
                <div class="transform-image-js" data-tilt data-tilt-scale="1.1">
                    <img src="assets/images/illustration/illustration-10.png" alt="illustration" />
                </div>
                <form action="#" class="elementor-form signin-form">
                    <div class="text-center mb-3"><h1>تسجيل الدخول</h1></div>
                    <div class="elementor-input mb-3">
                        <input type="email" name="email" placeholder="البريد الإلكتروني" required/>
                        <span class="elementor-focus-input"></span>
                        <span class="elementor-input-icon"><i class="ri-mail-fill"></i></span>
                    </div>
                    <div class="elementor-input mb-3">
                        <input type="password" name="password" placeholder="كلمة السر" required/>
                        <span class="elementor-focus-input"></span>
                        <span class="elementor-input-icon"><i class="ri-lock-2-fill"></i></span>
                    </div>
                    <button class="btn btn-theme-color rounded-pill elementor-button">تسجيل الدخول</button>
                    <div class="text-center pt-2">
                        <span class="txt1">نسيت</span>
                        <a class="txt2" href="#">اسم المستخدم أو كلمة المرور ؟</a>
                    </div>
                    <div class="text-center text-primary" style="padding-top: 136px">
                        <a href="/signup.html">إنشاء حساب جديد</a>
                    </div>
                </form>
            </div>
        </section>
        <!-- Feather Icons -->
        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
        <script src="assets/js/vanilla-tilt.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
