<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ms-express</title>

        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <!-- Google Cairo Font -->
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600&display=swap" rel="stylesheet" />
        <!-- Bootstrap Grid Css -->
        <link rel="stylesheet" href="assets/css/bootstrap-grid.min.css" />
        <!-- Remix Icon -->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet" />
        <!-- Theme Style -->
        <link rel="stylesheet" href="assets/css/style.css" />
    </head>
    <body class="login-index layout-wrapper">
        <section class="section home-section">
            <div class="elementor-box justify-content-center">
                <form action="#" class="elementor-form signin-form">
                    <div class="text-center d-block mb-4">
                        <h1 class="mb-3">مرحباً بك في MS Express</h1>
                        <h3>إنشاء حساب جديد</h3>
                    </div>
                    <div class="elementor-input mb-3">
                        <input type="text" name="name" placeholder="اسم المستخدم" required/>
                        <span class="elementor-focus-input"></span>
                        <span class="elementor-input-icon"><i class="ri-user-fill"></i></span>
                    </div>
                    <div class="elementor-input mb-3">
                        <input type="email" name="email" placeholder="البريد الإلكتروني" required/>
                        <span class="elementor-focus-input"></span>
                        <span class="elementor-input-icon"><i class="ri-mail-fill"></i></span>
                    </div>
                    <div class="elementor-input mb-3">
                        <input type="text" name="number" placeholder="رقم الهاتف" required/>
                        <span class="elementor-focus-input"></span>
                        <span class="elementor-input-icon"><i class="ri-phone-fill"></i></span>
                    </div>
                    <div class="elementor-input mb-3">
                        <input type="password" name="password" placeholder="كلمة السر" required/>
                        <span class="elementor-focus-input"></span>
                        <span class="elementor-input-icon"><i class="ri-lock-2-fill"></i></span>
                    </div>
                    <button class="btn btn-theme-color rounded-pill elementor-button">إنشاء حساب</button>
                    <div class="text-center text-primary" style="padding-top: 136px">
                        <a href="/login.html">تسجيل الدخول</a>
                    </div>
                </form>
            </div>
        </section>
        <!-- Feather Icons -->
        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
